body {
  background-color: aqua;
  font-family: monospace;
}

.color, .selected {
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
#color-palette {
  margin-bottom: 10px;
}

#button-random-color {
  background-color: rgb(249, 157, 70);
  border-radius: 5px;
  font-family: monospace;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

#generate-board {
  background-color: rgb(85, 188, 95);
  font-family: monospace;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
#clear-board {
  background-color: white;
  font-family: monospace;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
#board-size {
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

#div-clear-board {
  margin: 10px 0 10px 0;
}